<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to resource sharer</title>
    <link rel="stylesheet" href="stylesheets/login.css" />
    <script src="https://unpkg.com/vue@3.0.0" defer></script>
    <script src="scripts/loginWindow.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="form-back">
            <div class="sgp"></div><h1>Sign In</h1>
            <p>Pls fill your details</p>
            <form @submit="login">
              <label for="name">Name:</label>  <input type="text" class="data" placeholder="username" name="name" required/>
             <br> <label for="pass">Pass:  </label>  <input class="data" type="password" placeholder="Password" required/>
            <br><input class="sbtn" type="submit" required/>
            </form>
            <h4 :class="color">{{errors}}</h4>
                    </div>
        </div></div>
      
    </div>
</body>
</html>